<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30501">
        <setting id="vrv_username" type="text" label="30001" default=""/>
        <setting id="vrv_password" type="text" label="30002" option="hidden" default=""/>
        <setting id="do_cache" type="bool" label="30010" default="false"/>
    </category>
    <category label="30502">
        <setting id="oauth_key" type="text" label="30003" option="hidden" default="RHUPiy8MFEj6z0tIu46cU2bAQu9DVRQWZ87838TEhsN1JpevcqtzL1J9rF3f"/>
        <setting id="oauth_secret" type="text" label="30004" option="hidden" default="6g5Pp1jfY7HlZE79InmGJqhsYJWYBJAkm4sgJHdwdTnKbxJIiccusrtyokVr"/>
    </category>
    <category label="30503">
        <setting id="adaptive_mode" type="bool" label="30005" default="false"/>
        <setting id="resolution" type="select" label="30006" values="1080|720|480|360" default="720"/>
    </category>
    <category label="30504">
        <setting label="30007" type="lsep"/>
        <setting id="font_name" type="text" label="30008" default="Arial"/>
        <setting id="font_size" type="select" label="30009" values="34|32|28|26|24|22" default="24"/>
    </category>
</settings>
